.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 766px) {
    .flex-container {
        flex-direction: column;
    }
}